*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #0F0F0F;
}


/* ==== HEADER STYLING START==== */
header{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url(task1-images/background-image-3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Menu styling starts here */
.menu-container{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}
.logo{
  display: inline-block;
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive, sans-serif;
  width: 40%;
  color: #BFB183;
}
.main-menu{
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-item{
  list-style: none;
  font-size: 13px;
  position: relative;
}
.menu-item a:hover{
  color: #BFB183;
}
.main-menu .active a{
  color: #BFB183;
  font-weight: bold;
}
.menu-line::after{
  content: '';
  height: 100%;
  border-right: 1px solid #BFB183;
  position: absolute;
  right: -35px;
}

#hamburger-menu{
  display: none;
}
/* Menu styling ends here  */

/* Heeader hero styling */
.header-hero{
  width: 80%;
  margin: auto;
  margin-top: 100px;
  height: 600px;
  padding-top: 50px;
  text-align: center;
}

.tribute-name{
  font-weight: 200;
  font-size: 50px;
  color: #BFB183;
}
.aka-tag{
  font-size: 30px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
}
.tribute-aka{
  color: #BFB183;
  font-size: 100px;
  font-weight: 700;
}
/* ==== HEADER STYLING ENDS ==== */


/* ==== MAIN BODY STYLING START ==== */
#main{
  margin-bottom: 70px;
}
/* About styling start  */
#about-parent-container{
  background: url(task1-images/background-image-2.jpg);
  padding-top: 100px;
  padding-bottom: 150px;
}
.about-flex-row{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.figure{
  width: 40%;
}
.about-image{
  width: 100%;
}
.pele-figcaption{
  font-size: 14px;
  color: #BFB183;
  text-align: center;
}
.about-info{
  width: 50%;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 2em;
}
.about-title{
  font-size: 25px;
  color: #BFB183;
  margin-bottom: 20px;
  font-weight: 400;
}
/* About styling end  */

/* ==== MAIN BODY STYLING END ==== */


/* ==== TIMELINE STYLING START ==== */

.timeline_parent_container{
  max-width: 70%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.timeline_header{
  font-size: 30px;
  font-weight: 400;
  color: #bfb183;
  margin-bottom: 50px;
}
.timeline_container{
  position: relative;
  list-style-type: none;
  margin: 50px auto;
  max-width: 80%;
  text-align: center;
  padding: 20px 50px;
}
.timeline_container::after{
  content: '';
  position: absolute;
  width: 2px;
  background-color: #bfb183;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 35%;
}
.timeline_event{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.timeline_content{
  position: relative;
  width: 50%;
  padding: 50px 30px;
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.8em;
  box-shadow: rgba(191, 177, 131, 45) 0px 10px 20px -20px;
}
.timeline_title{
  font-size: 17px;
  font-weight: 400;
  color: #bfb183;
  margin-bottom: 20px;
}
.timeline_date{
  font-size: 12px;
  font-weight: 200;
}
.timeline_date::after{
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  z-index: 3;
  border: 3px solid #bfb183;
  background-color: #0F0F0F;
  border-radius: 50%;
  right: 63.9%;
}

/* ==== TIMELINE STYLING END ==== */



/* ==== RESPONSIVENESS ==== */
@media only screen and (max-width: 1400px){
  .main-menu{
    width: 60%;
  }
  .timeline_parent_container{
    max-width: 80%;
  }
  .timeline_container{
    max-width: 90%;
  }
}

@media only screen and (max-width: 960px){
  .main-menu{
    width: 100%;
  }
  .about-flex-row{
    flex-direction: column;
  }
  .figure{
    width: 100%;
    margin-bottom: 30px;
  }
  .about-image{
    width: 100%;
  }
  .about-info{
    width: 100%;
  }
  .intro-paragrah{
    text-align: justify;
  }
  .timeline_parent_container{
    max-width: 90%;
  }
}

@media only screen and (max-width: 768px){
  .menu-container{
    width: 100%;
    align-items: center;
  }
  .main-menu{
    position: absolute;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #bfb183f6;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    padding-top: 70px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
  .main-menu.showMenu{
    opacity: 1;
  }
  .menu-line::after{
    display: none;
  }
  .menu-item{
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 20px;
  }
  .menu-item a{
    color: #000000;
  }
  .menu-item a:hover{
    color: #ffffff;
  }
  .main-menu .active a{
    color: #ffffff;
  }
  .main-menu .active a:hover{
    color: #000000;
  }
  #hamburger-menu{
    display: block;
    font-size: 30px;
    z-index: 1000;
  }
  .header-hero{
    height: 500px;
  }
  .timeline_parent_container{
    max-width: 100%;
  }
  .timeline_container{
    padding-left: 2px;
    padding-right: 2px;
  }
  .timeline_container::after{
    left: 0;
  }
  .timeline_event{
    flex-direction: column;
    align-items: flex-start;
  }
  .timeline_date{
    margin-top: 30px;
    margin-left: 30px;
  }
  .timeline_date::after{
    left: -1%;
  }
  .timeline_content{
    width: 100%;
  }
}

@media only screen and (max-width: 630px){
  .timeline_date::after{
    left: -1.2%;
  }
}

@media only screen and (max-width: 564px){
  .timeline_date::after{
    left: -1.4%;
  }
}

@media only screen and (max-width: 468px){
  .timeline_date::after{
    left: -1.6%;
  }
}
@media only screen and (max-width: 390px){
  .timeline_date::after{
    left: -1.8%;
  }
}
@media only screen and (max-width: 340px){
  .timeline_date::after{
    left: -2%;
  }
}